<p>
<h2>Login</h2><br/>

<%= form_tag sessions_path do %>
    <div class="field">
      <%= text_field_tag :username, params[:username], :class => "defaultText", :title => "Username" %>
    </div>
    <div class="field">
      <%= password_field_tag :password, params[:password], :class => "defaultText", :title => "Password" %>
    </div>
    <div class="actions"><%= submit_tag "Log in" %></div>
<% end %>
</p>
