Note: Conversions can take a long time (Upwards of 30+minutes).<br/>
During Beta, File imports will be limited to 5 pages.

<%= form_tag conversions_path, :class => "center", :multipart => true do %>
   <div class="field">
      <%= text_field_tag :script, nil, :class => "defaultText", :title => "Script Name" %>
    </div>
    <div class="field">
      <%= file_field_tag :file, :class => "defaultText", :title => "File" %>
    </div>
    <div class="actions"><%= submit_tag "Convert Script" %></div>
<% end %>