.bundle
db/*.sqlite3
log/*.log
tmp/
.sass-cache/
.idea/*
.idea/workspace.xml
config/parse_resource.yml
config/initializers/facebook.rb
config/initializers/resque.rb
config/initializers/secret_token.rb
