.span8
  = form_tag reset_password_users_path :class => "form-horizontal" do
    %fieldset
      %legend Password Reset
      .control-group
        =label_tag :email, "Email", :class => "control-label"
        .controls
          .input-prepend
            %span.add-on
              %i.icon-envelope
            = text_field_tag :email, nil, :class => "span2", :id => "inputIcon"
      .form-actions
        = submit_tag "Reset Password", :class => "btn btn-primary"