.page-header
  %h1
    FAQ
    %small Frequently asked questions

%h3 Can I add scripts/lines from my computer?
%p
  Add Scripts
  %span.label.label-info  iPhone
  %span.label.label-success Android
  %span.label Web

%h3 Can I delete/edit scripts/lines?
%p
  Delete Functionality
  %span.label.label-info  iPhone
  %span.label.label-success Android
  %span.label Web

  %br/
  Edit Functionality
  %span.label.label-info  iPhone

%h3 Can I change the voice of the characters?
%p
  Male/Female Gender
  %span.label.label-info  iPhone
  %br/
  Your own Voice Recordings
  %span.label.label-info  iPhone

%h3 Can I Import scripts from PDF or Word?
%p
  Importing scripts is currently in Alpha status, we will release this as soon as it is ready
  %span.label Web

%h3 I'm having an issue, can you please fix this?
%p
  Contact us at
  %a{:href => "mailto:feedback@lineplea.se"}feedback@lineplea.se
  and we can try and help you resolve the problem.
  %br/
  Alternatively, if you think this is an existing software issue, please check our
  %a{:href => "https://github.com/mattvv/lineplease/issues"} Issues
  and we will try and fix it as soon as possible.


