<!-- content -->
<section id="content">
  <div class="container_12">
    <div class="indent"></div>
    <div class="border"></div>
    <br/>

    <div class="wrapper">
      <div class="grid_4 alpha">
        <h2>FAQ</h2>

        <div class="border1"></div>
        <div class="text">Access your lines anywhere from your mobile phone, iPad or Android Device</div>
        Your lines are saved on our servers, but are only accessible to you! Login from your any device with Line Please
        installed and you
        can quickly and easy practice your lines!<br>
      </div>
      <div class="grid_4">
        <h2>Whats New</h2>

        <div class="border1"></div>
        <div class="text">Line Please Updates for Android and iPhone</div>
        There's updates this week for iPhone and Android. Be sure to check your app store or market to download the latest version. Lots of speed improvements and bugfixes.
        <div class="text">Add Lines via Website</div>
        We know typing your lines in via that little phone keyboard is a pain in the ass, so we've made a way to type in your lines online! Login now to manage your scripts and lines!

      </div>
      <div class="grid_4">
        <h2>Start </h2>

        <div class="border1"></div>
        <ul class="list list-pad">
          <li><a href="#">Create an account or Link your Facebook</a></li>
          <li><a href="#">Add a Script</a></li>
          <li><a href="#">Add Lines to your Script</a></li>
          <li><a href="#">Press Play</a></li>
          <li><a href="#">Choose your Character</a></li>
          <li><a href="#">Practice your Lines!</a></li>
        </ul>
      </div>
    </div>
    <div class="padding-bottom"></div>
  </div>
</section>

<a name="faq"></a>
<section id="content">
  <div class="container_12">
    <div class="indent"></div>
    <div class="border"></div>
    <br/>

    <div class="wrapper">
      <div class="grid_4 alpha">
        <h2>FAQ</h2>

        <div class="border1"></div>
        <div class="text">Can I add scripts/lines from my computer?</div>
        Not yet, but this feature is under development. We plan on allowing you to enter lines through the website and
        in the future being able to upload PDFs from this website<br/>

        <div class="text">Can I change the voice of the characters?</div>
        Not yet, but in the future you will be able to choose wether or not your characters are male or female.
      </div>
      <div class="grid_4">
        <h2>FAQ</h2>

        <div class="border1"></div>
        <div class="text">Can I delete Scripts/Lines?</div>
        Yes! Just hold click on the line or script you wish to delete<br/>

        <div class="text">Can I import Scripts?</div>
        Importing scripts is planned as a feature in a future release. Initially being able to import through the
        website. Please send us samples of scripts to
        <a href="mailto:scriptsamples@lineplea.se">scriptsamples@lineplea.se</a> to help us our script parser.
      </div>
      <div class="grid_4">
        <h2>Feedback</h2>

        <div class="border1"></div>
        <div class="text">Send us Feedback</div>
        Please send us feedback to <a href="mailto:feedback@lineplea.se">feedback@lineplea.se</a>. We're open to
        feedback about problems in the product, new features and any technical questions that you might have.
      </div>
    </div>
    <div class="padding-bottom"></div>
  </div>
</section>