.span4
  .iphone
    #faded
      %ul
        %li
          %img{:src=>"#{asset_path "screenshot-login.png"}"}
        %li
          %img{:src=>"#{asset_path "screenshot-scripts.png"}"}
        %li
          %img{:src=>"#{asset_path "screenshot-lines.png"}"}
        %li
          %img{:src=>"#{asset_path "screenshot-addline.png"}"}
.span6
  .marketing
    %h2.center  Line Please helps you
    %h1.center Learn your Lines.
    %p.marketing-byline And it's absolutely free for iPhone and Android
  %p
    Learn your lines quickly and easily using Line Please. Simply add a script, enter your lines, and then have them read back to you by Line Please.

  %p.purple Choose which Character you want to be- and Line Please will speak the other parts for you!

  %p If you have an iPhone 4S or Android phone, netering your lines is as easy as  speaking your lines to your phone!

  %p.purple Once your scripts are in Line Please, you can access them from your iPad, iPhone, Android or Computer. You never have to enter lines twice.

  %p Your scripts can only be accessed by you! We will never share any of your scripts with anyone else under any circumstances.
  %br/
  %p
    %a.btn.btn-inverse.btn-large{:href => "http://itunes.apple.com/us/app/line-please/id471665690?ls=1&mt=8"}
      %i.icon-download-alt.icon-white
      App Store
    %a.btn.btn-success.btn-large{:href => "https://market.android.com/details?id=com.mattvv.lineplease" }
      %i.icon-download-alt.icon-white
      Android Market