<!DOCTYPE html>
<html>
<head>
  <title>Lineplease</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<% if @user_id %>
Logged in!
<% else %>
Not logged in!
<% end %>
<body>

<%= yield %>

</body>
</html>
